[submodule "Arduino/libraries/SparkFun_MPU-9250_Breakout_Arduino_Library"]
	path = Arduino/libraries/SparkFun_MPU-9250_Breakout_Arduino_Library
	url = https://github.com/MegaBanana/SparkFun_MPU-9250_Breakout_Arduino_Library
